<!DOCTYPE html>
<html lang=”pt-br” xmlns:th="http://www.thymeleaf.org">
<title>Estudantes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../../../static/resto/style.css">
<div th:replace="fragments/links-referencia-hehe :: links"></div>

<body>
    <div th:replace="fragments/navbar-hehe :: navbar"></div>

    <div id="main" th:fragment="main">
        <div class="mainDentroMain">

            <div class="tituloMain">Editar Perfil</div>

            <div class="perfilEstudante">

                <div class="edicao">
                    <form th:action="@{/estudante/editar/{id}(id=${estudante.id})}" th:object="${estudante}"
                        method="post">

                        <div class="formEdicao">
                            <i class="iconesPerfil bi bi-123"></i>
                            <input class="labelEdicao form-control" type="text" id="ra" placeholder="Ra" th:field="*{ra}" readonly />
                        </div>

                        <div class="formEdicao">
                            <i class="iconesPerfil bi bi-person"></i>
                            <input class="labelEdicao form-control" type="text" id="nome" placeholder="Nome"  th:field="*{nome}" />
                        </div>

                        <div class="formEdicao">
                            <i class="iconesPerfil bi bi-envelope-at"></i>
                            <input class="labelEdicao form-control" type="email" id="email" placeholder="Email" th:field="*{email}" />
                        </div>

                        <div class="formEdicao">
                            <i class="iconesPerfil bi bi-book"></i>
                            <input class="labelEdicao form-control" type="text" id="turma" placeholder="Turma" th:field="*{turma}"  />
                        </div>

                        <div class="formEdicao">
                            <img class="cadeado" src="/resto/imagens/lock.png"> <i class="iconesPerfil "></i>
                            <input class="labelEdicao form-control" type="password" id="senha" placeholder="Digite nova Senha" th:field="*{senha}" />
                        </div>
						<div class="botoes">
                            <a type="button" class="btn btn-secondary" onclick="history.back()" style="color: white;">Cancelar</a>
							<input  class="verdola btn" type="submit" value="Alterar"/>
						</div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="fragments/footer-hehe :: footer"></div>
</body>

<script src="/src/main/resources/static/resto/hehe.js"></script>

</html>