<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="footer" th:fragment="footer" >
       
        <div class="divulgacao">

            <div>
                <div class="pessoa">
                    <h5 class="nome">José</h2>
                </div>
                <div class="linksDentro">
                    <a href="https://github.com/JoseCLC" class="iconeLink gitHubb bi bi-github"></a>
                    <a href="https://gitlab.com/JoseClima"> <img class="iconeLink" src="/resto/imagens/gitlab.png"> </a>
                </div>
            </div>
            
            <div class="agradecimento">
                <img class="copyrightIcon" src="/resto/imagens/copyright.png">
                Feito por José & Samuel
            </div>

            <div>
                <div class="pessoa">
                    <h5 class="nome">Samuel</h2>
                </div>
                <div class="linksDentro">
                    <a href="https://github.com/SamuelDias1227" class="iconeLink gitHubb bi bi-github"></a>
                    <a href="https://gitlab.com/SamuelDias1227"> <img class="iconeLink" src="/resto/imagens/gitlab.png">
                    </a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>